<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <label>Email</label>
        <input type="text" id="email"  th:field="*{email}"
               class="form-control" /><br/>
        <label  th:if="${#fields.hasErrors('email')}"
                th:errors="*{email}" class="validation-message"></label><br/>git

        <label>Imię</label>
        <input type="text" id="name" name="name" th:field="*{username}"
               class="form-control" /><br/>
        <label  th:if="${#fields.hasErrors('username')}"
                th:errors="*{username}" class="validation-message"></label><br/>

        <label>Nazwisko</label>
        <input type="text" id="lastname" name="lastname" th:field="*{lastname}"
               class="form-control" /><br/>
        <label  th:if="${#fields.hasErrors('lastname')}"
                th:errors="*{lastname}" class="validation-message"></label><br/>

        <label>Hasło</label>
        <input type="password" id="password" name="password" th:field="*{password}"
               class="form-control" /><br/>
        <label  th:if="${#fields.hasErrors('password')}"
                th:errors="*{password}" class="validation-message"></label><br/>

        <button class="btn btn-lg" name="Submit" value="login" th:text="Login"></button>
    </form>

    <div class="alert alert-success" th:text="${successMessage}">

    </div>

</div>

</body>
</html>